<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="/issues/css/index.css">
    <link rel="stylesheet" href="/issues/Vue/App.vue">


</head>

<body>

    <nav class="nav" id="nav">
        <a href="/" class="nav__link active" class="change active" data-link>Home:</a>
        <a href="/Open_issues" class="nav__link" class="change" data-link>Open Issues:</a>
        <a href="/Done_Issues" class="nav__link" class="change" data-link>Done Issues</a>
        <a href="/Trashed_issues" class="nav__link" class="change" data-link>Trashed Issues</a>
    </nav>

    <script>
        var btnContainer = document.getElementById("nav");

        var btns = btnContainer.getElementsByClassName("nav__link");


        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

    <div id="app"></div>

    <script type="module" src="/issues/js/index.js"></script>

    <div id="to_do" class="container">

        <div v-if="!isEditing">
            <input type="text" v-model="todo">
            <input type="submit" value="Add" @click="storeTodo">
        </div>
        <div v-else>
            <input type="text" v-model="todo">
            <input type="submit" value="Update" @click="updateTodo">
        </div>

        <ol>
            <li v-for="(todo, index) in todos">
                {{ todo }}
                <button @click="editTodo(index, todo)">Edit</button>
                <button @click="removeTodo(index)">Delete</button>
            </li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
   
</body>

</html>